.text{
    color: green;
    font-weight:bold;
    /* float: right; */
    margin-top: 0;
    font-size: 44px;
}
.tieude{
    display: block;
    float: left;
    width: 32.33333%;

}
.mota{
    color: #2F2105;
    font-size: 20px;
}
.img{
    width: 80px;
    height: 80px;
    /* margin: auto; */
    /* align-items: center; */
    justify-content: center;
}
.divgioithieu{
    width: 150px;
    float: left;
    border: 2px solid green;
    border-radius: 15px;
    /* display: flex; */
    align-items: center;
    padding: 5px 10px;
}
.descmainf{
    text-align: center;
    font-weight: bold;
}