.div{
}
.listcake{
    /* background-color: rgba(254,251,240,255); */
}
.bosungtap{
    text-align: center;
    color: rgba(97,152,92,255);
}
.pbosungtap{
    text-align: center;
    font-size: 20px;
}
.duoi{
    width: 126px;
    height: 6px;
    background: rgb(97, 160, 92);
    border-radius: 5px;
    margin: 30px auto 0px;
    /* display: flex; */
}