.imgname1{
    /* width: 100px; */
    height:50px;
    object-fit: cover;
    float: right;
}
.img1{
    width: 300px;
    object-fit: cover;
}
.button{
    width: 16rem;
    height: 3.5rem;
    color: rgba(255, 255, 255);
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 100px;
    border-width: 0px;
    background-color: rgba(242, 89, 75);
    margin: 2rem auto 3rem;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}
.button:hover{
}
.divbutton{
    width: 50%;
}
    
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
